:host ::ng-deep .mat-input-placeholder {
  color: white;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
  color: darkorange;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: white;
}

:host ::ng-deep .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled],
.mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled],
.mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled] {
  background-color: gray;
}

.landingPageSmallIcon {
  height: 50px;
  margin-bottom: 40px;
}

.landingPageBigIcon {
  height: 250px;
  margin-bottom: 20px;
}

.landingPageLogoWithTitle {
  margin-top: 28%;
  text-align: center;
}

.landingPageImageWithSlogan {
  margin-top: 12.5%;
  text-align: center;
}

.landingPageWoodBackground {
  background-image: url('../../assets/WoodPatternDark.png');
  background-size: cover;
  height: 100vh;
}

.landingPageTitleText {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f85200;
}

.landingPageSloganText {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
}

.landingPageInputText {
  color: white;
}

.landingPageActionButtons {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
