.landingPageSmallIcon {
  height: 50px;
  margin-bottom: 40px;
}

.landingPageBigIcon {
  height: 250px;
  margin-bottom: 20px;
}

.landingPageLogoWithTitle {
  margin-top: 28%;
  text-align: center;
}

.landingPageImageWithSlogan {
  margin-top: 12.5%;
  text-align: center;
}

.landingPageWoodBackground {
  background-image: url('../../assets/WoodPatternDark.png');
  background-size: cover;
  min-height: 100vh;
}

.landingPageTitleText {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f85200;
}

.landingPageSloganText {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
}

.landingPageInputText {
  color: white;
}

.landingPageActionButtons {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
