:host ::ng-deep .mat-checkbox-frame {
  border-color: white;
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-size: 12px;
  font-weight: 400;
}

:host ::ng-deep .mat-icon-button {
  color: white;
}

.createEditBrewsBackground {
  background-image: url('../../assets/Flight.jpg');
  background-size: cover;
  min-height: 100vh;
}

.createEditBrewsInfoBackground {
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  margin-top: 6%;
  margin-left: 20%;
}

.createEditBrewsHeaderText {
  color: white;
  font-size: 16px;
}

.createEditBrewsActionButtons {
  margin-bottom: 30px;
}

.createEditBrewsInputText {
  color: white;
}

.createEditBrewsInputField {
  margin-top: 15px;
}

.createEditBrewsCheckboxText {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Styling for xs (MOBILE) */
@media screen and (max-width: 767px){
  .createEditBrewsTitleText {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #f85200;
    text-align: center;
  }
}
/* Styling for sm (TABLETS) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .createEditBrewsTitleText {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #f85200;
    text-align: center;
  }
}
/* Styling for md (DESKTOP) */
@media screen and (min-width: 992px) and (max-width: 1199px){
  .createEditBrewsTitleText {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #f85200;
    text-align: center;
  }
}
/* Styling for lg (BIG DESKTOP) */
@media screen and (min-width: 1200px) {
  .createEditBrewsTitleText {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #f85200;
    text-align: center;
  }
}

